<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Reserva - Luxury Wheels</title>

    <!-- Bootstrap Lux -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">

    <!-- Fonte 'Great Vibes' para o título da homepage -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <!-- Fonte 'Roboto' para Contactos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Fonte 'Nunito Sans' para Welcome e Logout -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

    <!-- Fonte 'Poppins' para header Minhas Reservas -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">

    <!-- Bootstrap Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!-- ligação ao ficheiro .css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='atualizar_reserva.css') }}">

</head>
<body>

<!-- Barra superior da página -->
<nav class="navbar navbar-expand-lg bg-primary" data-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white titulo" href="/">Luxury Wheels</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('veiculos') }}">Veículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('registo') }}">Registo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('contactos') }}">Contactos</a>
        </li>
      </ul>
      {% if current_user.is_authenticated %}
        <div class="navbar-user-info">
          <span class="welcome">Olá, {{ current_user.first_name }}!</span>
          <a class="nav-link text-white logout" href="{{ url_for('minhas_reservas', user_id=current_user.id) }}">Minhas Reservas</a>
          <a class="nav-link text-white logout" href="{{ url_for('logout') }}">Logout</a>
        </div>
      {% endif %}
    </div>
  </div>
</nav>

<div class="booking-page">
    <header class="my-bookings">Atualizar Reserva</header>
    <div class="booking-container">
        <div class="bookings">
            <img class="vehicle-image" src="{{ url_for('static', filename= vehicle.imagem) }}" alt="{{ vehicle.marca_modelo }}">
            <div class="vehicle-item">
                <h2>{{ vehicle.marca_modelo }}</h2>
                <div class="vehicle-info">
                    <p><strong>Nova Data de Levantamento:</strong> {{ reserva.start_date.strftime('%d/%m/%Y') }}</p>
                    <p><strong>Nova Data de Devolução:</strong> {{ reserva.end_date.strftime('%d/%m/%Y') }}</p>
                    <p><strong>Número de dias:</strong> {{ num_days }}</p>
                    <p><strong>Novo Total:</strong> {{ update_total }}</p>
                    {% if update_total and reserva.total is not none %}
                        {% if update_total > reserva.total %}
                            <h1>Diferença a pagar:</h1>
                        {% elif update_total < reserva.total %}
                            <h1>Diferença a receber<sup><a class="footnote" href="#footnote1">1</a></sup>:</h1>
                        {% else %}
                            <h1>Sem diferença no valor.</h1>
                        {% endif %}
                        <p class="total-amount">{{ difference }}€</p>
                    {% endif %}
                </div>
            </div>

            <div class="payment">
                <form method="POST">
                      <fieldset>
                          <legend class="mt-4 payment-methods">Métodos de Pagamento<sup><a class="footnote" href="#footnote2">2</a></sup></legend>
                          {% with messages = get_flashed_messages(with_categories=true) %}
                              {% if messages %}
                                <ul class=flashes>
                                {% for category, message in messages %}
                                  {% if category == 'card_error' %}
                                    <li class="{{ category }}">{{ message }}</li>
                                  {% endif %}
                                {% endfor %}
                                </ul>
                              {% endif %}
                          {% endwith %}
                          <div class="form-check">
                            <input class="form-check-input" name="payment_method" type="radio" id="card" value="Cartão" onclick="togglePaymentMethod('card')">
                            <label class="form-check-label" for="card">
                              Cartão
                            </label>
                            <div class="payment-details card-details">
                                <div class="card-number">
                                    <label class="form-label mt-4" for="card-number">Número do Cartão de Crédito ou Débito</label>
                                    <input class="form-control" name="card_number" id="card-number" type="text" value="{{ request.form.card_number or card_number }}">
                                </div>
                                <div class="expire-date">
                                    <label class="form-label mt-4" for="expire-date">Data de Validade</label>
                                    <input class="form-control" name="expire_date" id="expire-date" type="text" placeholder="MM/YYYY" value="{{ request.form.expire_date or expire_date }}">
                                </div>
                                <div class="cvv">
                                    <label class="form-label mt-4" for="cvv">CVV</label>
                                    <input class="form-control" name="cvv" id="cvv" type="text" value="{{ request.form.cvv or cvv }}">
                                </div>
                            </div>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" name="payment_method" type="radio" id="transfer" value="Tranferência Bancária" onclick="togglePaymentMethod('transfer')">
                            <label class="form-check-label" for="transfer">
                              Transferência Bancária
                            </label>
                            <div class="payment-details transfer-details">
                                <p><strong>Bank Name:</strong> Banco Lusitano</p>
                                <p><strong>IBAN:</strong> PT50 1234 5678 9012 3456 7890 1</p>
                                <p><strong>SWIFT/BIC:</strong> LUSIPTPL</p>
                                <p><strong>Branch:</strong> Lisbon Central Branch</p>
                            </div>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" name="payment_method" type="radio" id="mb" value="Referência Multibanco" onclick="togglePaymentMethod('mb')">
                            <label class="form-check-label" for="mb">
                              Referência Multibanco
                            </label>
                            <div class="payment-details mb-details">
                                <p><strong>Entidade:</strong> 12345</p>
                                <p><strong>Referência:</strong> 123 456 789</p>
                                <p><strong>Valor:</strong> LUSIPTPL</p>
                            </div>
                          </div>
                          <div class="confirm-payment">
                             <button type="submit" name="action" value="confirm_payment" class="btn btn-outline-secondary btn-block">Confirmar Alteração</button>
                          </div>
                      </fieldset>
                        <section class="footnotes" id="footnotes">
                            <p class="footnote1">
                                <strong id="footnote1">1.</strong> Caso tenha valor a receber, este será devolvido ao método de pagamento realizado na reserva.
                            </p>
                            <p class="footnote2">
                                <strong id="footnote2">2.</strong> Reservas com pagamentos por transferência bancária ou referência multibanco serão confirmadas via email após receção do devido valor.
                            </p>
                        </section>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function togglePaymentMethod(selectedMethod) {
      // Hide all payment detail sections
      const allDetails = document.querySelectorAll('.payment-details');
      allDetails.forEach(detail => {
        detail.style.display = 'none';
      });

      // Show the selected section based on the selected radio button
      if (selectedMethod === 'card') {
        document.querySelector('.card-details').style.display = 'block';
      } else if (selectedMethod === 'transfer') {
        document.querySelector('.transfer-details').style.display = 'block';
      } else if (selectedMethod === 'mb') {
        document.querySelector('.mb-details').style.display = 'block';
      }
    }
</script>


</body>
</html>